
html{
--color1: #fff7f7;
--color2: #ad7a99;
--color3: #474056;
 scroll-behavior: smooth;
  background: var(--color1);
}

.body {
	background: var(--color1);
    font-family: 'DM Sans', sans-serif;
}

#hi {
    font-family: 'DM Serif Text', serif;
    color: var(--color3);
    font-size: 5em;
}
#xenia {
   font-family: 'DM Serif Text', serif; 
    color: var(--color2);  
}
#home{
   height: 45vh;
   position: relative;
   background: none;
}

#name{
  margin: 25%;
  line-height: 0.85;
  padding: 0 16px;
  
}
h1{
    font-family: 'DM Serif Text', serif;
    color: var(--color3);
    padding: 0.5em 2em 0 2em;
    font-size: 2.4em;
    text-align: center;

}
p {
     padding: 0.5em 2em;
}
nav{
    background-color: var(--color2);
    color: var(--color2);
}
nav .fas{
    color: var(--color1);
}
nav a, nav a:visited{
    color: var(--color1);
    border: none;
  transition: ease-in-out 0.3s;
}
button:focus, .button:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
nav a:hover{
    color: var(--color3);
}
.typing-container {
  padding-top: 20px;
  font-size: 2em;
}
span.cursor {
  display: inline-block;
  background-color: var(--color2);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
#about{
    background: var(--color2);
    font-size: 1.2em;
    color: var(--color3);
    padding: 2em;
    position: relative;
}
#about h1{
    color: var(--color1);
}
 #about a, #skills a {
    color: inherit;
    text-decoration: underline;
     transition: ease-in-out 0.3s;    
}
#about a:hover, #skills a:hover {
      color: var(--color1);
    }

h2{
    font-family: 'DM Serif Text', serif;
    color: var(--color1); 
    text-align: center; 
}
#skills{
    color: var(--color1);
    padding: 0.5em;
    padding-top: 120px;
    background: var(--color1);
}
 #skills li {
    padding: 4px 0;
  }
  
  #skills .col-md {
    background-color: var(--color2);
    padding: 16px;
    margin: 16px;
    border-radius: 20px;
    transition: ease-out 0.15s;
  }
 #skills h1, #skills h2{
    color:var(--color3);
}
#skills .col-md a:hover {
color: var(--color3);
 }
#contact{
    text-align: center;
    background-color: var(--color3);
    padding: 2em;
}
#contact h1{
    color: var(--color2);
}

#contact a, #contact a:visited {
    color: var(--color1);
      transition: ease-out 0.15s;
}
 #contact a:hover {
    color: var(--color2);
  }
a:hover {
      color: var(--color3);
    }
@keyframes blink {
  50% { background-color: transparent; }

}
